@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Raleway:400,700';

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-nav__menu,
.feature-list,
.portfolio-list,
.team-list {
    list-style-type: none;
}
.header-nav__menu-item,
.feature-list__item,
.portfolio-list__item,
.team-list__item {
    display: inline-block;
}

.header {
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    color: white;
}
.header-nav {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid rgba(225,225,225,0.15)
}
.header-nav__logo {
    position: absolute;
    left: 0;
    top: 38px;
}
.header-nav__menu {
    margin: 0;
    padding: 40px 0;
    text-align: right;
}
.header-nav__menu-item {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.75;
    margin-left: 55px;
}
.header-nav__menu-item:hover {
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 840px) {
    .header-nav__logo {
        position: relative;
    }
    .header-nav__menu {
        text-align: center;
        padding-bottom: 20px
    }
    .header-nav__menu-item {
        margin: 20px;
    }
}
@media (max-width: 480px) {
    .header-nav__logo {
        position: relative;
        margin-bottom: 20px;
    }
    .header-nav__menu {
        padding: 32px 0;
    }
    .header-nav__menu-item {
        display: block;
        text-align: center;
        margin: 20px 0;
    }
}

.header-banner {
    max-width: 970px;
    margin: 0 auto;
    padding-bottom: 156px;
    padding-top: 142px;
}
.header-banner__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 71px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 26px;
}
.header-banner__caption {
    font-size: 22px;
    line-height: 33px;
}
.header-banner__button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 46px;
    border: 0;
    background-color: #e84545;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    margin-top: 72px;
    font-size: 12px;
}
.header-banner__button:hover {
    cursor: pointer;
    background-color: #F36767;
}
@media (max-width: 840px) {
    .header-banner {
        padding: 80px 0;
    }
}
@media (max-width: 480px) {
    .header-banner {
        padding: 64px 0;
    }
    .header-banner__title {
        font-size: 32px;
        line-height: 40px;
    }
    .header-banner__caption {
        font-size: 18px;
        line-height: 24px;
    }
    .header-banner__button {
        margin-top: 48px;
    }
}

.features {
    max-width: 1170px;
    margin: 0 auto;
    padding: 84px 0;
}
.feature-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.feature-list__item {
    max-width: 330px;
    padding: 30px;
}
.feature-list__item-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.icon-customized {
    background: url("../img/feature_customized.png") no-repeat;
}
.icon-responsive {
    background: url("../img/feature_responsive.png") no-repeat;
}
.icon-modern {
    background: url("../img/feature_modern.png") no-repeat;
}
.icon-clean {
    background: url("../img/feature_clean.png") no-repeat;
}
.icon-ship {
    background: url("../img/feature_ship.png") no-repeat;
}
.icon-download {
    background: url("../img/feature_download.png") no-repeat;
}
.feature-list__item-title {
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 22px;
}
.feature-list__item-caption {
    font-size: 14px;
    color: #6c7279;
    line-height: 20px;
}

.portfolio-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.portfolio-list__item {
    width: 25%;
    height: 350px;
    background: black;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;

}
.work_1 {
    background: url("../img/work_1.png") no-repeat;
    background-position: center;
}
.work_2 {
    background: url("../img/work_2.png") no-repeat;
    background-position: center;
}
.work_3 {
    background: url("../img/work_3.png") no-repeat;
    background-position: center;
}
.work_4 {
    background: url("../img/work_4.png") no-repeat;
    background-position: center;
}
.work_5 {
    background: url("../img/work_5.png") no-repeat;
    background-position: center;
}
.work_6 {
    background: url("../img/work_6.png") no-repeat;
    background-position: center;
}
.work_7 {
    background: url("../img/work_7.png") no-repeat;
    background-position: center;
}
.work_8 {
    background: url("../img/work_8.png") no-repeat;
    background-position: center;
}
.portfolio-list__item-hover {
    width: 100%;
    height: 100%;
    background-color: #e84545;
    opacity: 0;
}
.portfolio-list__item-hover:hover {
    opacity: 0.9;
    cursor: pointer;
}
.portfolio-list__item-title {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 152px;
    padding-bottom: 10px;
}
.portfolio-list__item-caption {
    font-size: 14px;
}

@media (max-width: 1024px) {
    .portfolio-list__item {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .portfolio-list__item {
        width: 100%;
    }
}

.team {
    max-width: 1200px;
    margin: 0 auto;
}
.team-list {
    padding: 0;
    margin: 50px 0;
    font-size: 0;
}
.team-list__item {
    text-align: left;
    max-width: 270px;
    margin: 50px 15px;
}
.team-list__item-photo {
    width: 270px;
    height: 270px;
    background: black;
}
.photo_woods {
    background: url("../img/photo_woods.png") no-repeat;
    background-position: center;
}
.photo_reed {
    background: url("../img/photo_reed.png") no-repeat;
    background-position: center;
}
.photo_valdez {
    background: url("../img/photo_valdez.png") no-repeat;
    background-position: center;
}
.photo_little {
    background: url("../img/photo_little.png") no-repeat;
    background-position: center;
}
.team-list__item-name {
    font-size: 22px;
    color: #2d3033;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: 24px;
}
.team-list__item-position {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #e84545;
    margin-bottom: 24px;
}
.team-list__item-caption {
    display: block;
    font-size: 14px;
    color: #6c7279;
    margin-bottom: 32px;
}
.team-list__item-link {
    width: 40px;
    height: 40px;
    border: 2px solid #6c7279;
    display: inline-block;
    margin-right: 4px;
    opacity: 0.5;
}
.team-list__item-link:hover {
    opacity: 1;
    cursor: pointer;
}
.icon_fb-black {
    background: url("../img/icon_share_fb-black.png") no-repeat;
    background-position: center
}
.icon_twitter-black {
    background: url("../img/icon_share_twitter-black.png") no-repeat;
    background-position: center
}
.icon_in-black {
    background: url("../img/icon_share_in-black.png") no-repeat;
    background-position: center
}

.info {
    background-color: #3a3e64;
    padding-bottom: 100px;
}
.info-location,
.info-links,
.info-about {
    display: inline-block;
    font-size: 0;
    color: white;
    vertical-align: top;
    padding-top: 70px;
    min-width: 390px;
}
.info-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14px;
}
.info-caption {
    font-size: 14px;
    opacity: 0.5;
    line-height: 24px;
}
.info-links__img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 2px;
    display: inline-block;
    margin: 0 3px;
    box-sizing: border-box;
}
.icon_fb {
    background: url("../img/icon_share_fb.png") no-repeat;
    background-position: center;
}
.icon_twitter {
    background: url("../img/icon_share_twitter.png") no-repeat;
    background-position: center;
}
.icon_in {
    background: url("../img/icon_share_in.png") no-repeat;
    background-position: center;
}
.info-links__img:hover {
    opacity: 0.75;
    cursor: pointer;
}

.footer {
    background-color: #313454;
    padding: 40px 0;
}
.footer-text {
    font-size: 14px;
    color: white;
    line-height: 16px;
    opacity: 0.25;
}
.footer-text-symbol {
    color: #e84545;
    font-size: 12px;
}
.footer-text-white {
    font-size: 14px;
    color: white;
    line-height: 16px;
}
